<!DOCTYPE html>
<html lang="en" >
<head>
    <script src="/js/common_css.js"></script>
    </head>
    <title>挂号记录</title>
    <link rel="stylesheet" type="text/css" href="/css/chosen.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/mcss/mcss_registerRecord.css"/>
    <link rel="stylesheet" type="text/css" href="/css/flatpickr.min.css"/>
    <link type="text/css" rel="stylesheet" href="/css/preloader.css">
</head>
<body>

<div id="preloader">
    <div id="preloader-inner"></div>
</div>
<div id="wrapper">
    <div id="content-wrapper" class="d-flex flex-column"><!-- content-wrapper-->
        <div id="content">
            <!--正文-->
            <div>
                <div class="card shadow mb-4" style="margin-left: 2.5%;height: 818px">

                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">挂号记录</h6>
                    </div>

                    <div class="card-body">
                        <div style=" margin-left: 1%;margin-right: 1%">
                            <div class="register_search">
                                <div>
                                    选择科室
                                    <select class='registerSearch_1' data-placeholder=' '>
                                        <option value="">请选择科室</option>
                                    </select>
                                </div>

                                <div style="margin-left: 25px">
                                    挂号类型
                                    <select class='registerSearch_2' data-placeholder=' '>
                                        <option value="">请选择类型</option>
                                        <option value="内科">内科</option>
                                        <option value="外科">外科</option>
                                        <option value="急诊">急诊</option>
                                        <option value="其他（体检）">其他（体检）</option>
                                    </select>
                                </div>
                                <div>
                                    挂号状态
                                    <select class='registerSearch_3' data-placeholder=' '>
                                        <option value="">请选择</option>
                                        <option value="1">正常</option>
                                        <option value="-1">过期</option>
                                    </select>
                                </div>
                                <div>
                                    就诊状态
                                    <select class='registerSearch_4' data-placeholder=' '>
                                        <option value="">请选择</option>
                                        <option value="0">未就诊</option>
                                        <option value="1">已就诊</option>
                                    </select>
                                </div>
                                <div class="search_time" style="display: none">
                                    日期
                                    <input class="startTime" placeholder="开始时间">
                                    -
                                    <input class="endTime" placeholder="结束时间">
                                </div>
                                <div class="registerRecord-search">
                                    <button class="btn btn-info" onclick="searchRegisterRecord()">
                                        <img class="png" src="/images/icon/search.png">
                                    </button>
                                </div>
                            </div>
                            <div>
                                <table id="registerRecord"></table>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<div>
    <script src="/js/common_js.js"></script>
    <script type="text/javascript" src="/js/jquery.preloader.min.js"></script>
    <script type="text/javascript" src="/js/chosen.jquery.min.js"></script>
    <script type="text/javascript" src="/js/flatpickr.min.js"></script>
    <script src="/sb-admin-2/bootstrap/bootstrap-table.min.js"></script>
    <script src="/sb-admin-2/bootstrap/bootstrap-table-zh-CN.js"></script>
    <script type="text/javascript" src="/js/mjs/mjs_registerRecord.js?v="+(new Date).getTime()></script>
</div>
</body>
</html>